﻿@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}




body {
    background: none repeat scroll 0 0 #08233E;
    color: #FFFFFF;
    font-family: 'NHaasGroteskDSW02-35XLt',sans-serif;
    font-size: 16px;
	line-height: 1.6em;
}
a {
    color: #FFFFFF;
    cursor: pointer;
    outline-style: none;
    text-decoration: none;
}
a:hover {
    color: #EAD8B2;
    text-decoration: none;
}
#container {
    position: relative;
}
#container header {
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    z-index: 10;
}
#container header.bg-0, #container header.bg-4 {
    background-color: #08233E;
}
#container header.bg-1 {
    background-color: #08233E;
}
#container header.bg-2, #container header.bg-7 {
    background-color: #2C5379;
}
#container header.bg-3, #container header.bg-5 {
    background-color: #EB2142;
}
#container header.bg-4 {
    background-color: #F8823C;
}
#container header .centered {
	width: 1012px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	position: fixed;
}
#container h1 {
    float: left;
    margin-top: 25px;
}
nav {
	float: right;
	font-size: 14px;
	z-index: 11;
}
nav a {
    float: left;
    margin: 38px 9px 0;
    overflow: hidden;
    padding-bottom: 9px;
    position: relative;
}
nav a:hover {
    color: #FFFFFF;
}
nav a:hover .underline {
    display: block;
}
nav .mail, nav .fb, nav .be {
    float: right;
    height: 62px;
    margin: 0;
    text-indent: -9999px;
}
nav .separator {
    background: url("../../images/separator.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 65px;
    width: 1px;
}
nav .mail {
    background: url("../../images/home-sprite.png") no-repeat scroll -305px 18px rgba(0, 0, 0, 0);
    margin-left: 18px;
    width: 56px;
}
nav .fb {
    background: url("../../images/home-sprite.png") no-repeat scroll -396px 18px rgba(0, 0, 0, 0);
    width: 36px;
}
nav .be {
    background: url("../../images/home-sprite.png") no-repeat scroll -455px 18px rgba(0, 0, 0, 0);
    width: 36px;
}
nav a .underline {
    background-color: #FFFFFF;
    bottom: 0;
    display: none;
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}
nav a.selected .underline {
    display: block;
}
#upload {
	position: relative;
	top: 0px;
	border: 2px dashed #2C5379;
	border-radius: 7px;
	left: 0px;
	height: 50px;
	width: 700px;
	margin: 0px;
	padding: 0px;
}
#fileInputText {
	position: relative;
	width: 600px;
	height: 50px;
	margin: 10px;
	border-radius: 7px;
	background-color: #FFF;
	vertical-align: middle;
	text-align: center;
	margin: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 25px;
	color: #999;
}

.fileform {
	border: 1px solid #FFF;
	border-radius: 7px;
	cursor: pointer;
	overflow: hidden;
	text-align: left;
	vertical-align: middle;
	height: 35px;
	width: 600px;
	top: 5px;
	bottom: 5px;
	float: left;
}
 
#selectbutton {
	background-color: #F8823C;
	border: 1px solid #939494;
	border-radius: 7px;
	color: #FFFFFF;
	font-size: 22px;
	height: 30px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 120px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	float: right;
	position: absolute;
	right: 3px;
	top: 10px;
	bottom: 10px;
	margin: 0px;
	padding: 0px;
	line-height: 28px;
}
#upload2{
    position:absolute; 
    top:10; 
    left:3; 
	bottom: 10
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    font-size: 150px; 
	height: 30px;
	width: 552px;
    z-index:20;
	width
}

#fileformlabel {
	border: 1px none #FFF;
	border-radius: 7px;
	cursor: pointer;
	overflow: hidden;
	text-align: left;
	vertical-align: middle;
	height: 30px;
	width: 552px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 3px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 25px;
	padding-left: 15px;
	line-height: 28px;
	background-color: #08233E;
	color: #FFF;
}

#reg {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 25px;
	line-height: 25px;
	color: #FFF;
	text-align: center;
	position: relative;
	height: 25px;
	width: 300px;
	top: 10px;
}
#field input[type="password"],#field input[type="text"]{
	border: 1px solid #FFF;
	position: relative;
	height: 28px;
	width: 206px;
	left: 5px;
	top: 5px;
	border-radius: 7px;
	background-color: #FFFFFF;
	line-height: 25px;
	vertical-align: middle;
	padding-left: 10px;
	font-weight: 100;
	margin-top: 7px;
	background-clip: padding-box;
    background-image: -moz-linear-gradient(center bottom , #FFFFFF 0%, #F2F2F2 100%);
    border: 1px solid rgba(0, 0, 0, 0.49);
    box-shadow: 0 2px 0 #D9D9D9 inset;
    color: #444444;
    font-size: 14px;
    height: 40px;
    outline: medium none;
    padding-left: 20px;
    transition: all 0.1s ease-in-out 0s;
    
}

#field input[type="submit"] {
	background-color: #9ab1ec;
	position: relative;
	width: 206px;
	border: 1px solid rgba(0, 0, 0, 0.49);
	color: #FFF;
	background-clip: padding-box;
	background-color: #5466DA;
	background-image: -moz-linear-gradient(center bottom , #5466DA 0%, #768EE4 100%);
	border: 1px solid rgba(0, 0, 0, 0.49);
	border-radius: 7px;
	box-shadow: 0 1px 0 #9AB1EC inset;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	height: 50px;
	margin-top: 7px;
	outline: medium none;
	text-shadow: 0 -1px 0 #5B6DDC;
	transition: all 0.1s ease-in-out 0s;
	top: 10px;
	left: 5px;
}
.overlay{
        background:  rgba(8, 35, 62, 0.95);
        position:fixed; /* с помощью этого правила фиксим и растягиваем его на весь экран*/
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        z-index:100;   /* поднимем его выше основной разметки*/
       }
#all {
	position: relative;
	height: 230px;
	width: 220px;
	border-radius: 7px;
	border: 2px dashed #eb2142;
}
   .nonebox{
         position:fixed;
         left: 40%; /* Положение слоя от левого края */
    	 top: 30%; 
         width: 220px;
         z-index:101;   /* а его выше фонового блока*/
		 display:none;
   }
   
a.box-close{
	float:right;
	width:26px;
	height:26px;
	height:26px;
	background:url('images/close.png') repeat top left;
	margin:-30px -30px 0px 0px;
	cursor:pointer;
	display:block;
}   
#field_search input[type="submit"]{
	background-color: #F8823C;
	border: 1px solid #939494;
	border-radius: 7px;
	color: #FFFFFF;
	font-size: 20px;
	height: 30px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 120px;
	float: right;
	position: absolute;
	right: 3px;
	top: 10px;
	bottom: 10px;
	margin: 0px;
	padding: 0px;
	line-height: 28px;
	font-family: Verdana, Geneva, sans-serif;
}
#fileformlabel input[type="text"]
{
	overflow: hidden;
	text-align: left;
	vertical-align: middle;
	height: 30px;
	width: 552px;
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 3px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 25px;
	padding-left: 15px;
	line-height: 28px;
	background-color: #08233E;
	color: #FFFFFF;
	}
	#field_search input[type="text"]
{
	overflow: hidden;
	text-align: left;
	vertical-align: middle;
	height: 30px;
	width: 552px;
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 3px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 22px;
	padding-left: 15px;
	line-height: 28px;
	background-color: #08233E;
	color: #FFFFFF;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	}
:-webkit-input-placeholder {	
	text-align: center;
	vertical-align: middle;
	}

.noneboxtwo{
         position:fixed;
         left: 40%; /* Положение слоя от левого края */
    	 top: 30%; 
         width: 220px;
         z-index:101;   /* а его выше фонового блока*/
		 display:none;
   }
   
.overlaytwo{
        background:  rgba(8, 35, 62, 0.95);
        position:fixed; /* с помощью этого правила фиксим и растягиваем его на весь экран*/
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        z-index:100;   /* поднимем его выше основной разметки*/
       }
	   
   
a.box-closetwo{
	float:right;
	width:26px;
	height:26px;
	height:26px;
	background:url('images/close.png') repeat top left;
	margin:-30px -30px 0px 0px;
	cursor:pointer;
	display:block;
}  	   

#alltwo {
	position: relative;
	height: 185px;
	width: 220px;
	border-radius: 7px;
	border: 2px dashed #eb2142;
}
#profile {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	position: relative;
	height: 130px;
	width: 190px;
	top: 12px;
	border: 1px dashed #999999;
	border-radius: 7px;
	line-height: 25px;
	text-align: left;
	vertical-align: middle;
	color: #999;
	padding: 5px;
	left: 1037px;
	opacity: 0.4;
}
#table_files {
	position: relative;
	top: 250px;
	border: 2px dashed #2C5379;
	border-radius: 7px;
	left: 90px;
	width: 910px;
	margin: 0px;
	padding: 0px;
}
#tabf {
	position: relative;
	width: 100%;
	margin: 4px;
	
}
#container #table_files #tabf tr .url {
	width: 100px;
	font-size: 18px;
	font-family: 'NHaasGroteskDSW02-35XLt', sans-serif;
	font-weight: 300;
}
#container #table_files #tabf tr .name {
	width: 400px;
	font-size: 18px;
	font-family: 'NHaasGroteskDSW02-35XLt', sans-serif;
	font-weight: 300;
}
#container #table_files #tabf tr .size {
	width: 70px;
	font-size: 18px;
	font-family: 'NHaasGroteskDSW02-35XLt', sans-serif;
	font-weight: 300;

}
#container #table_files #tabf tr .date {
	width: 170px;
	font-size: 18px;
	font-family: 'NHaasGroteskDSW02-35XLt', sans-serif;
	font-weight: 300;
}
#container #table_files #tabf tr .id {
	width: 100px;
	font-size: 18px;
	font-family: 'NHaasGroteskDSW02-35XLt', sans-serif;
	font-weight: 300;
}
#newspaper-c {
	position: absolute;
	top: 150px;
	left: 520px;
	border: 3px dashed #66CCFF;
	border-collapse: collapse;
	font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-size: 12px;
	margin: 45px;
	text-align: left;
	width: 480px;
}
#newspaper-c th
{
	padding: 20px;
	font-weight: normal;
	font-size: 16px;
	color: #FFFFFF;
	text-transform: uppercase;
	border-right: 1px solid #0865c2;
	border-top: 1px solid #0865c2;
	border-left: 1px solid #0865c2;
	border-bottom: 1px solid #fff;
}
#newspaper-c td
{
	padding: 10px 20px;
	color: #669;
	border-right: 1px dashed #6cf;
}

#newspaper-a
{
	position: relative;
	font-family: 'NHaasGroteskDSW02-35XLt', sans-serif;
	font-size: 14px;
	width: 880px;
	text-align: left;
	border-collapse: collapse;
	margin-bottom: 10px;
	border-bottom: 1px dashed #69c;
}
#newspaper-a th
{
	padding: 12px 17px 12px 17px;
	font-weight: 100;
	font-size: 16px;
	color: #FC9;
	border-bottom: 1px dashed #69c;
	font-variant: normal;
}
#newspaper-a td
{
	padding: 7px 17px 7px 17px;
	color: #669;
}
#newspaper-a tbody tr:hover td
{
	color: #000;
	background-color: #6C6CCE;
}

#test {
	position: absolute;
	top: 180px;
	left: 140px;
	border: 1px solid #69c;
	border-radius: 7px;
}
#desc {
	width: 700px;
	left: 0px;
	top: 30px;
	position: relative;
	background-color: #08233E;
	color: #FFF;
	border: 1px solid #2C5379;
	border-radius: 7px;
	padding: 12px;
	font-size: 16px;
	margin-bottom: 15px;
}
#dropZone {
	font-size: 25px;
	text-align: left;
	width: 685px;
	height: 30px;
	background: #eee;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 7px;
	position: relative;
	left: 0px;
	top: 15px;
	/*color: #B6CFE0;
	background: url('images/patternb.png');*/
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	color: #C5C5C5;
	background: url('images/pattern.png');
	margin-top: 12px;
	margin-right: 0px;
	margin-bottom: 12px;
	margin-left: 0px;
	padding-top: 50px;
	padding-right: 0;
	padding-bottom: 50px;
	padding-left: 15;
}

#dropZone.hover {
    background: #ddd;
    border-color: #aaa;
}

#dropZone.error {
    background: #faa;
    border-color: #f00;
}

#dropZone.drop {
    background: #afa;
    border-color: #0f0;
}
#upload-all {
	background-color: #F8823C;
	border: 1px solid #939494;
	border-radius: 7px;
	color: #FFFFFF;
	font-size: 20px;
	height: 30px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 120px;
	float: right;
	position: absolute;
	right: 3px;
	top: 10px;
	bottom: 10px;
	margin: 0px;
	padding: 0px;
	line-height: 28px;
	font-family: Verdana, Geneva, sans-serif;
}
#front{
	position: absolute;
	top: 150px;
	left: 300px;
	width: 700px;
}
#front_down{
	position: absolute;
	top: 210px;
	left: 300px;
	width: 700px;
}

.tooltips {
  position: relative;
  left: 235px;
  top: -30px;
}
.tooltips span {
  position: absolute;
  color: #FFFFFF;
  background: #6054FF;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  float:left;
  white-space:nowrap;
  visibility:hidden;
}
.tooltips span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid #6054FF;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

/*.tooltips span {
  position: absolute;
  width:140px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
.tooltips span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid #000000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  left: 100%;
  top: 50%;
  margin-top: -15px;
  margin-left: 15px;
  z-index: 999;
}*/

#progr {
	position: fixed;
	top: 120px;
	border: 2px dashed #FCDC5C;
	border-radius: 7px;
	font-family: Verdana,Geneva,sans-serif;
	height: 25px;
	width: 697px;
	left: 300px;
	font-size: 12px;
	color: #FFFFFF;
	padding-left: 3px;
	visibility:hidden;
}
#progr2 {
    width: 0px;
	height:19px;
	background-color: #FFFFFF;
    margin: 3;
	margin-left: 3;
    padding: 0;
	border-radius: 7px;
	overflow: hidden;
}
#atten {
	width: 650px;
	height: 130px;
	margin: 0;
	padding: 25;
	border-radius: 7px;
	overflow: hidden;
	border: 2px dashed #46A600;
	position: relative;
	left: 300px;
	top: 100px;
	border-radius: 7px;
	font-family: Verdana,Geneva,sans-serif;
	font-size: 18px;
}

#sayfile{
        background:  rgba(8, 35, 62, 0.95);
        position:fixed; /* с помощью этого правила фиксим и растягиваем его на весь экран*/
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        z-index:100;
		visibility:hidden;		/* поднимем его выше основной разметки*/
       }
#sayfile2{
	position: fixed;
	left: 40%; /* Положение слоя от левого края */
	top: 30%;
	width: 220px;
	z-index: 101;
	height: 150px;
	border: 3px dashed #D774EF;
	border-radius: 7px;
	overflow: hidden;
	font-family: Verdana,Geneva,sans-serif;
	font-size: 19px;
	color: #FFFFFF;
	padding: 5px;
	margin: 10px;
   }